openapi: 3.0.3
info:
  title: Jose Madrid Salsa API
  version: 1.0.0
  description: |
    RESTful API for the Jose Madrid Salsa e-commerce platform.
    
    ## Authentication
    Most endpoints require authentication via NextAuth session cookies.
    Admin endpoints require specific permissions based on user roles.
    
    ## Rate Limiting
    API requests are rate-limited to prevent abuse.
    
    ## Error Responses
    All errors follow a consistent format:
    ```json
    {
      "error": "Error message description",
      "code": "ERROR_CODE"
    }
    ```
  contact:
    name: Jose Madrid Salsa Team
    url: https://josemadridsalsa.com
  license:
    name: MIT

servers:
  - url: https://josemadridsalsa.com/api
    description: Production server
  - url: http://localhost:3000/api
    description: Development server

tags:
  - name: Products
    description: Product catalog operations
  - name: Admin
    description: Administrative operations (requires permissions)
  - name: Auth
    description: Authentication and user management
  - name: Orders
    description: Order management
  - name: Gift Certificates
    description: Gift certificate operations
  - name: Calendar
    description: Calendar integration

paths:
  /products:
    get:
      tags:
        - Products
      summary: List all active products
      description: Retrieve a list of all active products with optional filtering
      parameters:
        - name: heatLevel
          in: query
          description: Filter by heat level
          schema:
            type: string
            enum: [MILD, MEDIUM, HOT, EXTRA_HOT, FRUIT, all]
        - name: search
          in: query
          description: Search products by name or description
          schema:
            type: string
        - name: featured
          in: query
          description: Filter featured products only
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /products/featured:
    get:
      tags:
        - Products
      summary: Get featured products
      description: Retrieve all products marked as featured
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'

  /admin/products:
    get:
      tags:
        - Admin
      summary: List products (Admin)
      description: List all products with search, filters, and pagination
      security:
        - sessionAuth: []
      parameters:
        - name: search
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
        - name: heatLevel
          in: query
          schema:
            type: string
        - name: active
          in: query
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductAdmin'
                  totalCount:
                    type: integer
                  page:
                    type: integer
                  pageSize:
                    type: integer
                  totalPages:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags:
        - Admin
      summary: Create product
      description: Create a new product
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductInput'
      responses:
        '201':
          description: Product created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  product:
                    $ref: '#/components/schemas/ProductAdmin'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: SKU conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /admin/products/{id}:
    get:
      tags:
        - Admin
      summary: Get product by ID
      security:
        - sessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAdmin'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Admin
      summary: Update product
      security:
        - sessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductInput'
      responses:
        '200':
          description: Product updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  product:
                    $ref: '#/components/schemas/ProductAdmin'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Admin
      summary: Delete product
      security:
        - sessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /auth/register:
    post:
      tags:
        - Auth
      summary: Register new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 8
                name:
                  type: string
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already exists

  /auth/forgot-password:
    post:
      tags:
        - Auth
      summary: Request password reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Password reset email sent
        '404':
          description: User not found

  /gift-certificates/purchase:
    post:
      tags:
        - Gift Certificates
      summary: Purchase gift certificate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - recipientEmail
                - recipientName
              properties:
                amount:
                  type: number
                  minimum: 10
                recipientEmail:
                  type: string
                  format: email
                recipientName:
                  type: string
                message:
                  type: string
      responses:
        '200':
          description: Purchase initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentUrl:
                    type: string
                  certificateId:
                    type: string

components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: NextAuth session cookie

  schemas:
    Product:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        price:
          type: number
        compareAtPrice:
          type: number
          nullable: true
        featuredImage:
          type: string
          nullable: true
        images:
          type: array
          items:
            type: string
        heatLevel:
          type: string
          enum: [MILD, MEDIUM, HOT, EXTRA_HOT, FRUIT]
        sku:
          type: string
        inventory:
          type: integer
        isFeatured:
          type: boolean
        ingredients:
          type: array
          items:
            type: string
        searchKeywords:
          type: array
          items:
            type: string

    ProductAdmin:
      allOf:
        - $ref: '#/components/schemas/Product'
        - type: object
          properties:
            costPrice:
              type: number
              nullable: true
            lowStockThreshold:
              type: integer
            barcode:
              type: string
              nullable: true
            weight:
              type: number
              nullable: true
            dimensions:
              type: object
              nullable: true
            isActive:
              type: boolean
            sortOrder:
              type: integer
            metaTitle:
              type: string
              nullable: true
            metaDescription:
              type: string
              nullable: true
            ogImage:
              type: string
              nullable: true
            category:
              $ref: '#/components/schemas/Category'
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    ProductInput:
      type: object
      required:
        - name
        - slug
        - sku
        - price
        - heatLevel
        - categoryId
      properties:
        name:
          type: string
        slug:
          type: string
          pattern: '^[a-z0-9-]+$'
        description:
          type: string
        sku:
          type: string
        barcode:
          type: string
        price:
          type: number
        compareAtPrice:
          type: number
        costPrice:
          type: number
        inventory:
          type: integer
          minimum: 0
        lowStockThreshold:
          type: integer
          minimum: 0
        weight:
          type: number
        heatLevel:
          type: string
          enum: [MILD, MEDIUM, HOT, EXTRA_HOT, FRUIT]
        ingredients:
          type: array
          items:
            type: string
        categoryId:
          type: string
        featuredImage:
          type: string
        images:
          type: array
          items:
            type: string
        isActive:
          type: boolean
        isFeatured:
          type: boolean
        sortOrder:
          type: integer
        metaTitle:
          type: string
        metaDescription:
          type: string
        ogImage:
          type: string
        searchKeywords:
          type: array
          items:
            type: string

    Category:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        image:
          type: string
          nullable: true

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        role:
          type: string
          enum: [CUSTOMER, ADMIN, SUPER_ADMIN]
        createdAt:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: string

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
